.box__dados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112px 0 112px;
}

.dados__item {
    padding-left: 32px;
}

.dados__h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-padrao);
}

.dados__h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-escuro);
    padding-top: 12px;
    padding-bottom: 8px;
}

.dados__h5 {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-subcabeçalho);
    line-height: 24px;
}