.cabeçalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    font-family: var(--fonte);
}

.box__cabeçalho {
    display: flex;
    align-items: center;
    width: 27px;
    margin-left: 112px;
}



.fonte__logo {
    color: #3A404E;
    padding-left: 8px;
    font-size: 24px;
    font-weight: 500;
}

.box__cabeçalho--menu {
    padding-left: 240px;
}

.cabeçalho__lista {
    display: flex;
    list-style-type: none;
}

.cabeçalho__item {
    margin: 28px 32px 28px 0;
    color: #667085;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.cabeçalho__link {
    color: var(--cinza-subcabeçalho);
    text-decoration: none;
}

.box__cabeçalho--botao {
    padding: 28px 0 28px 366px;
}

.botao__item {
    padding-left: 30px;
    color: #667085;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.botao__link {
    color: var(--cinza-subcabeçalho);
    text-decoration: none;
}

.botao__cadastrar {
    background: var(--vermelho-padrao);
    padding: 10px 18px;
    border-radius: 8px;
    color: var(--fundo-cabeçalho);
}